[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mamont78
[access "refs/for/refs/*"]
	read = group user/Mamont78
	push = group user/Mamont78
	label-Code-Review = -2..+2 group user/Mamont78
	label-Verified = -1..+1 group user/Mamont78
	rebase = group user/Mamont78
	removeReviewer = group user/Mamont78
	submit = group user/Mamont78
[access "refs/heads/*"]
	read = group user/Mamont78
	create = group user/Mamont78
	push = +force group user/Mamont78
	pushMerge = group user/Mamont78
[access "refs/tags/*"]
	push = group user/Mamont78
	push = +force group user/Mamont78
